/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
    
    width: 550px;
    height: 600px;
}


.app {
    /* height: 100%; */
    line-height: normal;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}
